.menu-button {
    -fx-background-color: #E7CBD8;
    -fx-background-radius: 10;
    -fx-mark-color: black;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-cursor: hand;
}
.menu-button > .label { -fx-text-fill: black; -fx-font-size: 17; }
.menu-button .context-menu { -fx-background-color: #FFFFFF; -fx-cursor: hand; -fx-background-radius: 10; }
.menu-button .menu-item:focused { -fx-background-color: #E7CBD8; -fx-background-radius: 10; }
.menu-button .menu-item > .label { -fx-text-fill: black; -fx-font-size: 17; }
.menu-button .menu-item:focused > .label { -fx-text-fill: black; }